<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Florian Pichler &middot; Consulting Creative Director, Designer, Developer</title>

		<meta name="description" content="Helping to create better apps everywhere. Quality from Germany included." />
		<meta name="viewport" content="width=device-width" />

		<link rel="stylesheet" href="main.css" />
	</head>

	<!--

		Hello there!

		Nice to see you. I didn't expect you here and I'm sorry,
		there is no cake. Feel free to look at what made here
		and but please don't steal the whole thing.

		Send me a message if you have questions.

		Sincerely,
		Florian Pichler

	-->

	<body>
		<main>
			<section role="main" class="vcard" id="florian-pichler">
				<header>
					<h1><a class="fn url" href="http://florianpichler.de"><span class="given-name">Florian</span> <span class="family-name">Pichler</span></a></h1>

					<p>Design&nbsp;&amp;&nbsp;Development</p>
				</header>

				<div>
					<div class="adr">
						<div class="street-address">Stadtjägerstr. 23</div>

						<span class="postal-code">86152</span>
						<span class="locality">Augsburg</span>

						<div class="country-name">Germany</div>
					</div>

					<div class="tel">
						<strong class="type">Mobile</strong>
						<span class="value">+49 172 199 81 51</span>
					</div>

					<div class="im">
						<strong class="type">Skype</strong>
						<a href="skype:pichfl?chat" class="value">pichfl</a>
					</div>

					<div class="email">
						<strong class="type">Contact</strong>
						<a href="mailto:hello@florianpichler.de" class="value">hello@florianpichler.de</a>
					</div>
				</div>

				<h2>About me</h2>

				<p>After I studied Interactive Media in Augsburg, I&nbsp;joined <a href="http://anfe.ma">anfema&nbsp;GmbH</a>as Creative&nbsp;Director.</p>

				<p> and aside from my digital projects I&nbsp;enjoy baking and crafting things.</p>
			</section>

			<section>
				<h2>Elsewhere</h2>

				<ul>
					<li><a href="http://twitter.com/pichfl">Twitter</a></li>
					<li><a href="https://github.com/pichfl">GitHub</a></li>
					<li><a href="https://instagram.com/pichfl">Instagram</a></li>
					<li><a href="https://dribbble.com/fp">Dribbble</a></li>
				</ul>

				<h2>Projects</h2>

				<ul>
					<li><a href="http://nomoreitunes.einserver.de"><strong>NoMoreiTunes</strong> &mdash; a Safari Extension that prevents iTunes Previews from launching the application.</a></li>
				</ul>
			</section>
		</main>

		<aside>
			<h2>About this page</h2>
			<p>Thanks to Tim Van Damme<a href="http://timvandamme.com">*</a> for making me think about an online card again. This page and it's design is not for sale and it probably wont be in the future either. </p>

			<footer>
				<p>&copy; 2009-<?php echo date('Y'); ?>, Florian Pichler</p>
			</footer>
		</aside>
	</body>
</html>
