header img {
	display: none;
}

header p {
	font-size: 1.2rem;
	font-weight: 500;
	letter-spacing: 0.1rem;
	line-height: 2rem;
	text-transform: uppercase;
	color: var(--fg-card-darker);
}

header p span {
	display: block;
}

@media (min-width: 800px) {
	header p span {
		display: inline;
	}

	header p span ~ :before {
		content: ' · ';
	}
}

header a {
	text-decoration: none;
}

header + * {
	margin-top: 3rem;
}

h1 {
	font-size: 1.5rem;
	line-height: 2rem;
	color: var(--h1);
}

h1 a {
	cursor: default;
}

h1 a:hover,
h1 a:focus {
	text-decoration: none;
}

h2 {
	font-size: 1.2rem;
	font-weight: 500;
	letter-spacing: 0.1rem;
	line-height: 2rem;
	text-transform: uppercase;

	margin: 3rem 0 1rem;
	color: var(--fg-lightest);
}

h3 {
	color: var(--fg-lighter);
}

.type {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	overflow: hidden;
}

.adr ~ * {
	margin-top: 1rem;
}

aside,
section {
	position: relative;
	padding: 0 3rem;
}

.card,
.wrap {
	z-index: 500;
}

.wrap {
	transform: translateZ(0px);
}

.scene {
	position: relative;
	width: 100%;
	min-height: calc(100vh - 3rem);
	transform-origin: 50% 50%;
	perspective-origin: 50% 55%;
	perspective: 80rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column nowrap;
}

.card {
	padding: 3rem;
	background: var(--bg-card);
	color: var(--fg-card);
	box-shadow: 0 1px 2px 0 rgba(42, 33, 27, 0.15), 0 2px 4px 0 rgba(42, 33, 27, 0.06),
		0 3px 14px 0 rgba(43, 34, 27, 0.1), 0 6px 35px 0 rgba(43, 34, 28, 0.25);
}

.js .more {
	display: none;
}

.js .flipped .more {
	display: grid;
}

.js .card,
.js .wrap,
.js .more {
	max-width: 48rem;
	width: 100%;
}

.wrap {
	position: relative;
	transform-style: preserve-3d;
	transform: rotateY(0deg);
}

.flip {
	transform: rotateY(180deg);
	animation: flip 0.6s linear normal;
}

.unflip {
	transform: rotateY(0);
	animation: unflip 0.5s linear normal;
}

.front,
.back {
	min-height: 23rem;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.front {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	padding-right: 0;
	padding-left: 0;
	text-align: center;
	transform: rotateY(0deg);
	cursor: pointer;
}

.front p {
	font-size: 0.9rem;
	font-weight: 500;
	letter-spacing: 0.1rem;
	line-height: 1rem;
	text-transform: uppercase;
	color: var(--hl);
}

.front p span {
	display: inline;
}

.front p span ~ :before {
	content: ' · ';
}

.back {
	position: relative;
	transform: rotateY(180deg);
}

@media (min-width: 800px) {
	.back .adr ~ * {
		margin-top: 0;
		text-align: right;
	}
}

.back .contact {
	margin-top: 9rem;
}

@media (min-width: 800px) {
	.back .contact {
		display: grid;
		grid-template-rows: 2rem 2rem;
		grid-template-columns: 1fr 1fr;
	}
}

.back .adr {
	grid-row: 1 / span 2;
	grid-column: 1 / span 1;
}

.back button {
	position: absolute;
	top: 0;
	right: 0;
	padding: 2rem;
	background: var(--bg-card);
}
