@media (min-width: 800px) {
	.more {
		padding-bottom: 3rem;
		grid-template-columns: 15rem 1fr;
	}
}

.more aside {
	padding-right: 0;
	grid-column: 1 / 2;
	grid-row: 1 / 999;
}

.flipped .more {
	opacity: 1;
	animation: appear 0.5s ease-in;
}

.more p a,
.more p a:link,
.more p a:visited {
	color: var(--fg-lighter);
}
