<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Florian Pichler · Consultant for Technology &amp; Design</title>
		<meta
			name="description"
			content="Helping to create better experiences"
		/>
		<meta name="viewport" content="width=device-width" />
		<script defer data-domain="florianpichler.de" src="https://plausible.io/js/plausible.js"></script>
		<script>const l = document.documentElement.classList; l && l.add('js');</script>
	</head>

	<body class="vcard" id="florian-pichler-de">
		<div class="card">
			<header>
				<h1>
					<a class="fn url" href="http://florianpichler.de"
						><span class="given-name">Florian</span>
						<span class="family-name">Pichler</span></a
					>
				</h1>

				<p>
					<span class="role"
						>Consultant for Technology &amp; Design</span
					>
				</p>
			</header>

			<div class="contact">
				<div class="adr">
					<div class="street-address">Stadtjägerstr. 23</div>

					<span class="postal-code">86152</span>
					<span class="locality">Augsburg</span>,
					<span class="country-name">Germany</span>
				</div>

				<div class="tel">
					<strong class="type">Mobile</strong>
					<span class="value">+49 172 199 81 51</span>
				</div>

				<div class="email">
					<strong class="type">Contact</strong>
					<a href="mailto:hello@florianpichler.de" class="value"
						>hello@florianpichler.de</a
					>
				</div>
			</div>
		</div>

		<div class="more">
			<aside>
				<h2>Elsewhere</h2>

				<ul>
					<li><a href="http://twitter.com/pichfl">Twitter</a></li>
					<li><a href="https://github.com/pichfl">GitHub</a></li>
					<li>
						<a href="https://instagram.com/pichfl">Instagram</a>
					</li>
					<li>
						<a
							href="https://www.linkedin.com/in/florian-pichler-8235497a/"
							>LinkedIn</a
						>
					</li>
				</ul>
			</aside>

			<section>
				<h2>Story</h2>

				<p>
					I create new user experiences and products by connecting
					designers, developers, and people at
					<a href="https://simplabs.com">simplabs</a>.
				</p>
				<p>
					When not in front of my computer, I do like to bake and craft.
				</p>
				<p>
					I love to geek out about music, tv shows, movies and board&nbsp;games.
				</p>
			</section>

			<section>
				<h2>Projects</h2>

				<ul>
					<li>
						<a href="https://github.com/TortugaPower/BookPlayer">
							<h3>BookPlayer for iOS</h3>
							<p>
								Open Source Player for DRM-free MP3/M4A/M4B
								audiobooks. I created the current logo and overall UI design
								and learned a bit of Swift on the&nbsp;side.
							</p>
						</a>
					</li>
				</ul>
			</section>
		</div>

		<!--
			Hello there!

			Nice to see you. I didn't expect you here and
			I'm sorry, there is no cake.

			Feel free to look and learn,
			but please don't steal the whole thing.

			You can find the source of this page on GitHub:
			https://github.com/pichfl/florianpichler-de

			Send me a message if you have questions.

			Sincerely,
			Florian
		-->
	</body>
</html>
