/*! florianpichler.de */

$bg: #3b4652;
$bg-card: #f7f7f5;
$fg: saturate(mix($bg, #fff, 50%), 5%);
$fg-card: desaturate(mix($bg, #fff, 20%), 10%);
$hl: #dc281e;

$fnt: 13px;
$small: $fnt - 2px;
$lh: round(1.6 * $fnt) / $fnt * 1em;
$lhsmall: round(1.6 * $fnt) / $small * 1em;

$max-width: 18 * $lh;

html, body {
	background: $bg;
	color: mix($fg, #fff, 10%);
	font-family: "Avenir Next", AvenirNext, Avenir, "gill sans", "gill sans mt", Calibri, sans-serif;
	line-height: 2.0;
	-webkit-tap-highlight-color: rgba(255,255,255,0.0);
}

html {
	font-size: 10 / 16 * 100%;
}

::selection {
	background: $hl;
}
